<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Login</th>
        <th scope="col">EloRanking</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users" [routerLink]="['/edituser/', user.id]">
        <td>{{ user.id }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.eloranking }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
