<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <div class="row">
          <div class="col-sm">
            <label for="id">Id</label>
            <input type="text" [(ngModel)]="user.id"
                   class="form-control"
                   id="id"
                   name="id"
                   minlength="3"
                   required #name="ngModel"
                   readonly>
          </div>
          <div class="col-sm">
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-sm">
            <label for="login">Login : </label>
            <input type="text" [(ngModel)]="user.login"
                   class="form-control"
                   id="login"
                   name="login"
                   placeholder="Enter your login"
                   minlength="3"
                   required #name="ngModel">
          </div>
          <div class="col-sm">
            <label for="pass">Password : </label>
            <input type="text" [(ngModel)]="user.pass"
                   class="form-control"
                   id="pass"
                   name="pass"
                   minlength="3"
                   required #name="ngModel">
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <label for="eloranking">Elo ranking : </label>
            <input type="text" [(ngModel)]="user.eloranking"
                   class="form-control"
                   id="eloRanking"
                   name="eloranking"
                   minlength="3"
                   required #name="ngModel">
          </div>
          <div class="col-sm">
            <label for="idIcone">Icone : </label>
            <input type="text" [(ngModel)]="user.icone.codeIcone"
                   class="form-control"
                   id="idIcone"
                   name="idIcone"
                   minlength="3"
                   required #name="ngModel"
                    readonly>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <label for="wins">Wins : </label>
            <input type="text" [(ngModel)]="user.wins"
                   class="form-control"
                   id="wins"
                   name="wins"
                   required #name="ngModel">
          </div>
          <div class="col-sm">
            <label for="loses">Loses : </label>
            <input type="text" [(ngModel)]="user.loses"
                   class="form-control"
                   id="loses"
                   name="loses"
                   required #name="ngModel">
          </div>
        </div>
      </div>
      <div [hidden]="user.login && user.login.length > 2" class="alert alert-danger">Login is required (min 3 chars)</div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
