<p-table [columns]="cols" [value]="users"
         [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,20]"
         [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="loadDataLazy($event)"
         pageLinks="5" [loading]="loading">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
  <ng-template pTemplate="body" let-user let-columns="columns">
    <tr [routerLink]="['/edituser/', user.id]">
      <td *ngFor="let col of columns">
        {{user[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>
